@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
    .experience_date {
        text-align: left;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
    .experience_date {
        text-align: left;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}
