body {
    font-family: 'Josefin Sans', sans-serif;
    /*
    background-color: #222;
    color: #BBB;
    */
}

.header_title {
    text-align: right;
}

article {
    margin-top: 100px;
}

h2 i {
    width: 1.6em;
    height: 1.6em;
    padding: 8px;
    background: #f8f9fa;
    color: #6c757d;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
}

h3 {
    margin-top: 30px;
}
