body {
    font-family: 'Josefin Sans', sans-serif;
}

#jumdfbotronContainer{
    display: none;
}

.navbar {
    margin-bottom: 32px;
}

.nav-item:hover {
    background-color: #20c997;
}

.header-title {
    text-align: right;
}

.articles {
    margin-top: 100px;
}

.round_i {
    width: 1.6em;
    height: 1.6em;
    padding: 8px;
    background: #f8f9fa;
    color: #6c757d;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
}

.featured-work {
    padding: 20px;
}

.experience-title {
    margin-top: 30px;
}

img {
    max-width: 100%;
    width: 100%;
}

.website-footer {
    margin-top: 30px;
}

.text-footer {
    padding: 20px;
}

.contacts {
    font-size: 2.5rem;
    color: inherit;
    margin-right: 20px;
}

.contacts:hover {
    color: #6c757d;
}
